banco de dados/CasaDasMalhas/entrega_xml_12_6/xml_schemas/pagamento_funcionario.xsd

<?xml version="1.0"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
    
    <xs:element name="pagamento_funcionario">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="data" type="xs:dateTime"/>
                <xs:element name="valor" type="xs:decimal"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    
</xs:schema>