banco de dados/CasaDasMalhas/entrega_xml_12_6/xml_schemas/tipo_funcionario.xsd

<?xml version="1.0"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
    
    <xs:element name="tipoFuncionario">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="cargo" type="xs:string" minOccurs="1" maxOccurs="1" />
                <xs:element name="descricao" type="xs:string" minOccurs="1" maxOccurs="1" />
            </xs:sequence>
        </xs:complexType>
    </xs:element>

</xs:schema>