Bancos de Dados/CasaDasMalhas/xml_schema.xml

<?xml version="1.0"?>
<xs:schema targetNamespace="http://posample.org" xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
    <xs:element name="pessoa">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="nome" type="xs:string" minOccurs="1"></xs:element>
                <xs:element name="endereco" minOccurs="1" maxOccurs="unbounded">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="rua" type="xs:string" minOccurs="1"></xs:element>
                            <xs:element name="bairro" type="xs:string" minOccurs="1"></xs:element>
                            <xs:element name="cidade" type="xs:string" minOccurs="1"></xs:element>
                            <xs:element name="estado" type="xs:string" minOccurs="1"></xs:element>
                            <xs:element name="cep" type="xs:string" minOccurs="1"></xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
                <xs:element name="telefone" nillable="true" minOccurs="0" maxOccurs="unbounded">
                    <xs:complexType>
                        <xs:simpleContent>
                            <xs:extension base="xs:string">
                                <xs:attribute name="tipo" form="unqualified" type="xs:string"/>
                            </xs:extension>
                        </xs:simpleContent>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="funcionario" extension base="pessoa">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="cpf" type="xs:string" minOccurs="1"></xs:element>
                <xs:element name="data_nasc" type="xs:date" minOccurs="1"></xs:element>
                <xs:element name="data_inicio" type="xs:date" minOccurs="1"></xs:element>
                <xs:element name="salario_base" type="xs:real" minOccurs="0"></xs:element>
                <xs:element name="comissao" type="xs:real" minOccurs="0"></xs:element>
                <xs:element name="tipo" type="xs:string" minOccurs="1"></xs:element>

                <xs:element name="pagamento" minOccurs="0" maxOccurs="unbounded">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="data" type="xs:date" minOccurs="1"></xs:element>
                            <xs:element name="valor" type="xs:real" minOccurs="1"></xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>